.test {
  color: red;
}

.sequence-grid {
  display: grid;
  grid-template-columns: repeat(16, 60px) ;
  grid-template-rows: repeat(7, 60px);
  justify-items: center;
  align-items: center;
}

.square-container {
  display: inline-grid;
  width: 60px;
  height: 60px;
}

.dropdown {
  background-color: beige;
  color: red;
}

.sequence-container {
  position: absolute;
  top: 60px;
}

.sidebar-container {
  position: absolute;
  left: 970px;
  top: 65px;
  width: 240px;
  height: 365px;
  background-color: #5E747F;
  border-radius: 10px;
  box-shadow: 4px 4px 4px grey;
}

.app-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.options-text {
  text-align: center;
  margin-top: 10px;
  font-size: 23px;
  font-family: arial;
  border-bottom: 1px dotted #B4C5E4;
  width: 80%;
  margin-left: 23px;
  padding-bottom: 8px;
}

.savesong-text {
  text-align: center;
  margin-top: 158px;
  font-size: 23px;
  font-family: arial;
  border-bottom: 1px dotted #B4C5E4;
  width: 80%;
  margin-left: 23px;
  padding-bottom: 8px;
}