.unselected {
  background-color: #FFEAEE;
}

.selected {
  background-color: #4CB963;
}

.note-played {
  animation-name: toggleColor;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.square {
  width: 50px;
  height: 50px;
  border: 0px;
  box-shadow: 2px 2px 2px grey;
}

.square:hover {
  cursor: pointer;
}

@keyframes toggleColor {
  0% {background-color: #F1F5F2;
      width: 58px;
      height: 58px;
      border-radius: 6px;}
  50% {background-color:#A0EADE;}
  75% {background-color: #4CB963;}
  100% {background-color: #4CB963;
      width: 50px;
      height: 50px;
      border-radius: 0px;}
}
